In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/Users/hemilpatel/Desktop/Crime /cleaned_data.xlsx")

In [3]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict-Age group,...,Premis Desc,Weapon Desc,Status,Status Desc,Crm Cd 1,LOCATION,Address,Street/State,LAT,LON
0,190326475,3/1/20 0:00,3/1/20 0:00,2130,7,Wilshire,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,1900 S LONGWOOD,AV,34.0375,-118.3506
1,200106753,2/9/20 0:00,2/8/20 0:00,1800,1,Central,330,BURGLARY FROM VEHICLE,47,36-65,...,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,1000 S FLOWER,ST,34.0444,-118.2628
2,200320258,11/11/20 0:00,11/4/20 0:00,1700,3,Southwest,480,BIKE - STOLEN,19,0-19,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,480.0,1400 W 37TH ST,1400 W 37TH,ST,34.0210,-118.3002
3,200907217,5/10/23 0:00,3/10/20 0:00,2037,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,0-19,...,CLOTHING STORE,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,14000 RIVERSIDE,DR,34.1576,-118.4387
4,200412582,9/9/20 0:00,9/9/20 0:00,630,4,Hollenbeck,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,IC,Invest Cont,510.0,200 E AVENUE 28,200 E AVENUE,28,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201009644,5/30/20 0:00,4/20/20 0:00,1220,10,West Valley,354,THEFT OF IDENTITY,30,20-35,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,354.0,17200 BURBANK BL,17200 BURBANK,BL,34.1723,-118.5076
99996,200604088,1/1/20 0:00,1/1/20 0:00,1210,6,Hollywood,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),53,36-65,...,PARKING UNDERGROUND/BUILDING,NaN,IC,Invest Cont,420.0,6800 HOLLYWOOD BL,6800 HOLLYWOOD,BL,34.1016,-118.3387
99997,200214668,9/4/20 0:00,9/4/20 0:00,100,2,Rampart,354,THEFT OF IDENTITY,26,20-35,...,GAS STATION,NaN,IC,Invest Cont,354.0,600 LAVETA TR,600 LAVETA,TR,34.0693,-118.2583
99998,201210009,3/30/20 0:00,3/29/20 0:00,100,12,77th Street,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,IC,Invest Cont,510.0,HOOVER ST,HOOVER,ST,34.0017,-118.2871
99999,201211636,4/11/20 0:00,4/9/20 0:00,950,12,77th Street,330,BURGLARY FROM VEHICLE,28,20-35,...,MOTEL,NaN,IC,Invest Cont,330.0,E 77TH ST,E 77TH,ST,33.9696,-118.2739

In [4]:
pip install mysql-connector-python sqlalchemy

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.3.0)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install pandas sqlalchemy mysql-connector-python openpyxl

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.3.0)
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
df.rename(columns={'street/state': 'street_state'}, inplace=True)

In [32]:
df

,dr_no,date_rptd,date_occ,time_occ,area,area_name,crm_cd,crm_cd_desc,vict_age,vict_age_group,...,premis_desc,weapon_desc,status,status_desc,crm_cd_1,location,address,street_state,lat,lon
0,190326475,2020-03-01,2020-03-01,2130,7,Wilshire,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,1900 S LONGWOOD,AV,34.0375,-118.3506
1,200106753,2020-02-09,2020-02-08,1800,1,Central,330,BURGLARY FROM VEHICLE,47,36-65,...,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,1000 S FLOWER,ST,34.0444,-118.2628
2,200320258,2020-11-11,2020-11-04,1700,3,Southwest,480,BIKE - STOLEN,19,0-19,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,480.0,1400 W 37TH ST,1400 W 37TH,ST,34.0210,-118.3002
3,200907217,2023-05-10,2020-03-10,2037,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,0-19,...,CLOTHING STORE,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,14000 RIVERSIDE,DR,34.1576,-118.4387
4,200412582,2020-09-09,2020-09-09,630,4,Hollenbeck,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,IC,Invest Cont,510.0,200 E AVENUE 28,200 E AVENUE,28,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201009644,2020-05-30,2020-04-20,1220,10,West Valley,354,THEFT OF IDENTITY,30,20-35,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,354.0,17200 BURBANK BL,17200 BURBANK,BL,34.1723,-118.5076
99996,200604088,2020-01-01,2020-01-01,1210,6,Hollywood,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),53,36-65,...,PARKING UNDERGROUND/BUILDING,NaN,IC,Invest Cont,420.0,6800 HOLLYWOOD BL,6800 HOLLYWOOD,BL,34.1016,-118.3387
99997,200214668,2020-09-04,2020-09-04,100,2,Rampart,354,THEFT OF IDENTITY,26,20-35,...,GAS STATION,NaN,IC,Invest Cont,354.0,600 LAVETA TR,600 LAVETA,TR,34.0693,-118.2583
99998,201210009,2020-03-30,2020-03-29,100,12,77th Street,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,IC,Invest Cont,510.0,HOOVER ST,HOOVER,ST,34.0017,-118.2871
99999,201211636,2020-04-11,2020-04-09,950,12,77th Street,330,BURGLARY FROM VEHICLE,28,20-35,...,MOTEL,NaN,IC,Invest Cont,330.0,E 77TH ST,E 77TH,ST,33.9696,-118.2739

In [34]:
from sqlalchemy import create_engine
# Standardize column names
df.columns = [col.strip().lower().replace(" ", "_").replace("-", "_").replace("/", "_") for col in df.columns]

# Rename specific column that caused error
df.rename(columns={'street_state': 'street_state'}, inplace=True)

# Format date columns
df['date_rptd'] = pd.to_datetime(df['date_rptd'], errors='coerce').dt.date
df['date_occ'] = pd.to_datetime(df['date_occ'], errors='coerce').dt.date

# Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:12345678@localhost:3306/crime_db")

# Upload to database
df.to_sql('crime_reports', con=engine, if_exists='append', index=False)

print("✅ Upload successful!")

✅ Upload successful!

In [36]:
from sqlalchemy import text

# Example 1: Get total number of crimes
with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM crime_reports"))
    print("Total records:", result.scalar())

# Example 2: Top 5 crime types
query = """
SELECT crm_cd_desc, COUNT(*) AS count 
FROM crime_reports
GROUP BY crm_cd_desc
ORDER BY count DESC
LIMIT 5;
"""
pd.read_sql(query, engine)

Total records: 100000

                                         crm_cd_desc  count
0                                   VEHICLE - STOLEN  10105
1                           BATTERY - SIMPLE ASSAULT   8670
2  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...   6892
3                              BURGLARY FROM VEHICLE   6641
4                                           BURGLARY   6315

In [44]:
df

,dr_no,date_rptd,date_occ,time_occ,area,area_name,crm_cd,crm_cd_desc,vict_age,vict_age_group,...,premis_desc,weapon_desc,status,status_desc,crm_cd_1,location,address,street_state,lat,lon
0,190326475,2020-03-01,2020-03-01,2130,7,Wilshire,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,1900 S LONGWOOD,AV,34.0375,-118.3506
1,200106753,2020-02-09,2020-02-08,1800,1,Central,330,BURGLARY FROM VEHICLE,47,36-65,...,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,IC,Invest Cont,330.0,1000 S FLOWER ST,1000 S FLOWER,ST,34.0444,-118.2628
2,200320258,2020-11-11,2020-11-04,1700,3,Southwest,480,BIKE - STOLEN,19,0-19,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,480.0,1400 W 37TH ST,1400 W 37TH,ST,34.0210,-118.3002
3,200907217,2023-05-10,2020-03-10,2037,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,0-19,...,CLOTHING STORE,NaN,IC,Invest Cont,343.0,14000 RIVERSIDE DR,14000 RIVERSIDE,DR,34.1576,-118.4387
4,200412582,2020-09-09,2020-09-09,630,4,Hollenbeck,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,IC,Invest Cont,510.0,200 E AVENUE 28,200 E AVENUE,28,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201009644,2020-05-30,2020-04-20,1220,10,West Valley,354,THEFT OF IDENTITY,30,20-35,...,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,IC,Invest Cont,354.0,17200 BURBANK BL,17200 BURBANK,BL,34.1723,-118.5076
99996,200604088,2020-01-01,2020-01-01,1210,6,Hollywood,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),53,36-65,...,PARKING UNDERGROUND/BUILDING,NaN,IC,Invest Cont,420.0,6800 HOLLYWOOD BL,6800 HOLLYWOOD,BL,34.1016,-118.3387
99997,200214668,2020-09-04,2020-09-04,100,2,Rampart,354,THEFT OF IDENTITY,26,20-35,...,GAS STATION,NaN,IC,Invest Cont,354.0,600 LAVETA TR,600 LAVETA,TR,34.0693,-118.2583
99998,201210009,2020-03-30,2020-03-29,100,12,77th Street,510,VEHICLE - STOLEN,0,0-19,...,STREET,NaN,IC,Invest Cont,510.0,HOOVER ST,HOOVER,ST,34.0017,-118.2871
99999,201211636,2020-04-11,2020-04-09,950,12,77th Street,330,BURGLARY FROM VEHICLE,28,20-35,...,MOTEL,NaN,IC,Invest Cont,330.0,E 77TH ST,E 77TH,ST,33.9696,-118.2739